* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f9f6ef;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

/* NAVBAR */
.navbar {
    background: #0d1b2a;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.logo-circle {
    background: gold;
    color: #0d1b2a;
    padding: 8px 12px;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: gold;
}

/* HERO */
.hero {
    height: 90vh;
    background: url('https://images.unsplash.com/photo-1529070538774-1843cb3265df');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-overlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero h1 {
    font-size: 60px;
    margin: 20px 0;
}

.btn {
    margin-top: 20px;
    background: gold;
    color: #0d1b2a;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

/* ABOUT */
.about {
    padding: 80px 20px;
    text-align: center;
}

.about p {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

/* SERVICES */
.services {
    background: #0d1b2a;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.service-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-top: 40px;
    gap: 30px;
}

/* MINISTRIES */
.ministries {
    padding: 80px 20px;
    text-align: center;
}

.ministry-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 50px;
    gap: 30px;
}

.ministry-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.ministry-card:hover {
    transform: translateY(-10px);
}

.ministry-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.ministry-content {
    padding: 20px;
}

/* LIVESTREAM */
.livestream {
    background: #0d1b2a;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.video-wrapper iframe {
    width: 90%;
    max-width: 800px;
    height: 400px;
    margin-top: 30px;
}

/* LOCATION */
.location {
    padding: 80px 20px;
    text-align: center;
}

.map-wrapper iframe {
    width: 90%;
    max-width: 800px;
    height: 400px;
    margin-top: 30px;
}

/* FOOTER */
footer {
    background: #0d1b2a;
    color: white;
    text-align: center;
    padding: 20px;
}
